# ignore local OMDb API config file - it is required only in 'development' application environment
module/Kino/config/omdb.api.config.php

# ignore vendor folder
vendor/**/*

#ignore 'aux' folder
aux/**/*

#ignore temporary files
~*
**/*.tmp

#ignore log files
**/*.log

#ignore .git folder
.git
.gitignore

#ignore Eclipse project configuration
.buildpath
.project
.settings
.settings/**/*



